In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
data =pd.read_excel('Product_Qunatity.xlsx')
data

         Date      Product  Lot  Defects
0   13/3/2022  Clinic plus   80        3
1   14/3/2022         Dove  100        2
2   15/3/2022  Clinic plus   80        4
3   16/3/2022  Clinic plus   40        2
4   17/3/2022         Dove  100        4
5   18/3/2022  Clinic plus   80        2
6   19/3/2022         Dove   50        4
7   20/3/2022  Clinic plus   40        5
8   21/3/2022         Dove  100        1
9   22/3/2022  Clinic plus   80        4
10  23/3/2022         Dove   50        2
11  24/3/2022  Clinic plus   40        4
12  25/3/2022         Dove   50        2
13  26/3/2022  Clinic plus   40        5
14  27/3/2022         Dove   20        2
15  28/3/2022  Clinic plus   10        3
16  29/3/2022         Dove   50        4

In [3]:
data_columns = list(data.columns)                
# data_columns.sort()                                     ''' Need to check '''

# all possible combinations of columns of all size
column_combinations = []

# count of every combination size
column_combination_counts = []

In [4]:
for i in range(len(data_columns)):
    column_combinations = column_combinations + list(itertools.combinations(data_columns, i+1))

In [5]:
# contins all the exceptions of different combination size [list of dataframe]
exceptions = []   

eliminator = 2

for i in column_combinations:
    
    exceptions_df = data.groupby(list(i)).size().reset_index(drop = False, name = 'Count')
    exceptions_df = exceptions_df[exceptions_df['Count'] < eliminator].sort_values(by = 'Count', ascending = True).reset_index(drop = True)

    exceptions.append(exceptions_df)

In [6]:
# Columns can be input in any order                          ''' if need to check are executed '''
combination = input('Enter the column Combination you want to check for exception (names should be seperated by ,): ')

Enter the column Combination you want to check for exception (names should be seperated by ,): Product, Lot

In [7]:
# converting the input to the list of columns

combination = combination.split(',')

for i in range(len(combination)):
    combination[i] = combination[i].strip()

# Transforming input into a standard order
# combination.sort()                                          ''' Need to check '''
combination = tuple(combination)

In [8]:
exception_df = exceptions[column_combinations.index(combination)]

In [9]:
# printing entire rows of the data
complete_exception_df = data[data[list(combination)].apply(tuple, axis=1).isin(exception_df[list(combination)].apply(tuple, axis=1))]

In [10]:
exception_df

       Product  Lot  Count
0  Clinic plus   10      1
1         Dove   20      1

In [11]:
complete_exception_df

         Date      Product  Lot  Defects
14  27/3/2022         Dove   20        2
15  28/3/2022  Clinic plus   10        3